@import url('https://fonts.googleapis.com/css?family=Meera+Inimai');

body {
    font-family: 'Meera Inimai', sans-serif;
    text-align: center;
    background-color: #080D3B;
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


main {
    background-color:#191F58;;
    border: 3px solid #535993;
    border-radius: 7.5px;
    padding: 30px;
    width: 900px;
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

blockquote {
    margin: none;
    text-align: left;
    line-height: 1.5em;
}

blockquote::before {
    content: open-quote;
    font-family: Georgia, serif;
    font-size: 40px;
    font-weight: bold;
}

blockquote::after {
    content: close-quote;
    font-family: Georgia, serif;
    font-weight: bold;
}

.quote {
    font-size: 20px;
    color: #080D3B;
    background-color: #7D82B0;
    border-radius: 7.5px;
    padding: 20px;
    margin: 30px;
    box-shadow: 5px 5px #080D3B;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.quote:hover {
    background-color: #9197cc;
}

.quoteInformation {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 92.5%;
}

.authorInformation {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: end;
    text-align: center;
    padding: 10px;
    border-radius: 7.5px;
}

.authorInformation:hover {
    background-color: #7D82B0;
}

.authorName {
    font-size: 20px;
    text-align: left;
}

.authorAvatar {
    height: 75px;
    width: 75px;
    border-radius: 37.5px;
    margin-left: 20px;
}

.tags {
    font-size: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.tag {
    margin-right: 10px;
    padding: 10px;
    border-radius: 7.5px;
    text-transform: uppercase;
}

.tag:hover {
    background-color: #7D82B0;
}

.hide {
    display: none;
}