@import url('https://fonts.googleapis.com/css?family=Meera+Inimai');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    transition: .5s, all, ease-in-out;
}

body {
    font-family: 'Meera Inimai', sans-serif;
    text-align: center;
    background-color: #080D3B;
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: border-box;
}


main {
    background-color: #191F58;
    border: 3px solid #535993;
    border-radius: 7.5px;
    padding: 30px;
    width: 900px;
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

main.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}


h1 {
    color: #fff;
    margin: 20px;
    text-decoration: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 a:hover {
    color: #9197cc;
}

blockquote {
    margin: none;
    padding: 20px;
    text-align: left;
    line-height: 1.5em;
}

blockquote::before {
    content: open-quote;
    font-family: Georgia, serif;
    font-size: 40px;
    font-weight: bold;
}

blockquote::after {
    content: close-quote;
    font-family: Georgia, serif;
    font-weight: bold;
}

.quote {
    font-size: 20px;
    color: #080D3B;
    background-color: #7D82B0;
    border-radius: 7.5px;
    padding: 20px;
    margin: 30px;
    box-shadow: 5px 5px #080D3B;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    grid-column: 1 / 3; /* grid settings still work in progress */
    grid-row: 1;
    animation: enterFromLeft .6s;
}

.quote:hover {
    background-color: #9197cc;
}

.quote::before {
    content: "+";
    font-size: 20px;
    text-align: center;
    align-self: flex-end;
    height: 30px;
    width: 30px;
    border-radius: 22.5px;
    background-color: #7D82B0;
    line-height: 30px;
    position: absolute;
}

.quote.open::before {
    content: "-";
    font-size: 30px;
}

.quoteInformation {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 92.5%;
}

.authorInformation {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: end;
    text-align: center;
    padding: 10px;
    border-radius: 7.5px;
}

.authorInformation:hover {
    background-color: #7D82B0;
}

.authorName {
    font-size: 20px;
    text-align: left;
}

.authorAvatar {
    height: 75px;
    width: 75px;
    border-radius: 37.5px;
    margin-left: 20px;
}

.tags {
    font-size: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 50%;
}

.tag {
    margin-right: 10px;
    padding: 10px;
    border-radius: 7.5px;
    text-transform: uppercase;
}

.tag:hover {
    background-color: #7D82B0;
}

.hide {
    display: none;
}

@keyframes enterFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-2.5%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (max-width: 450px) {
    * {
        font-size: 80%;
    }
    
    main {
        width: 100%;
        padding: 0;
        position: relative;
        border: none;
    }
    
    h1 {
        margin: 5px;
        font-size: 32px;
    }

    .quote {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
        border-radius: 0;
    }
}