@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: 'Crimson Text', serif;
  text-align: center;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box; }

main {
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap; }

main.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto); }

h1 {
  margin: 20px;
  text-decoration: none; }

a {
  color: inherit;
  text-decoration: none; }

blockquote {
  margin: none;
  padding: 20px;
  text-align: left;
  line-height: 3rem; }

blockquote::before {
  content: open-quote;
  font-family: Georgia, 'Crimson Text', serif;
  font-size: 40px;
  font-weight: bold; }

blockquote::after {
  content: close-quote;
  font-family: Georgia, 'Crimson Text', serif;
  font-weight: bold; }

.quote {
  width: 960px;
  max-width: 100%;
  font-size: 28px;
  padding: 20px;
  margin: 30px 0;
  font-weight: 400;
  color: #000;
  box-shadow: 0 10px 20px -20px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  grid-column: 1 / 3;
  /* grid settings still work in progress */
  grid-row: 1;
  transition: .6s, all, ease-in-out;
  animation: enterFromLeft .6s; }

.quote:hover {
  box-shadow: 0 50px 100px -100px rgba(0, 0, 0, 0.7); }

.quote::before {
  content: "+";
  font-size: 30px;
  text-align: center;
  align-self: flex-end;
  height: 30px;
  width: 30px;
  line-height: 30px;
  position: absolute; }

.quote.open {
  width: 1200px;
  font-size: 36px;
  max-width: 100%;
  animation: expand .8s; }

.quote.open::before {
  content: "-";
  font-size: 30px; }

.quoteInformation {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 92.5%; }

.authorInformation {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: end;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  transition: all .3s ease-in-out; }

.authorInformation:hover {
  box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.35); }

.authorName {
  font-size: 30px;
  text-align: left; }

.authorAvatar {
  height: 75px;
  width: 75px;
  border-radius: 37.5px;
  margin-left: 20px; }

.tags {
  font-size: 25px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 50%; }

.tag {
  margin-right: 10px;
  padding: 10px;
  transition: all .3s ease-in-out;
  border-radius: 5px; }

.tag:hover {
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.35); }

.hide {
  display: none; }

@keyframes enterFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-2.5%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes expand {
  0% {
    width: 960px;
    max-width: 100%; }
  100% {
    width: 1200px;
    max-width: 100%; } }

@media only screen and (max-width: 450px) {
  * {
    font-size: 80%; }
  main {
    width: 100%;
    padding: 0;
    position: relative;
    border: none; }
  h1 {
    margin: 5px;
    font-size: 32px; }
  .quote {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 0; } }
